/* Diseño Mobile first */
/* Elementos comunes */
html {
  box-sizing: border-box;
  /* font-family: 'Inter', sans-serif; */
  font-family: $font-family-sans-serif;
  font-weight: 400;
  height: 100%;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  color: $col-gray;
  font-size: 0.8rem;

  &::before {
    background-image: url(../images/blason-colmar.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    display: inline-block;
    width: 3rem; 
    height: 3rem;
    margin-right: 15px;
    content: "";
  }

  span {
    color: $col-orange;
    font-size: 2rem;
  }
}

h3 {
  color: $col-black;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
}

a {
  color: $col-orange;
  text-decoration: none;

  &:hover {
    color: $col-gray;
  }
}

ul {
  line-height: 1.5rem;
  list-style-type: none;
  padding: 0;
}

/* Contenedores */
header {
  padding-bottom: 1rem;

  .container {
    text-align: center;
  }
}

footer {
  background-color: $footer-bg;
  color: $col-black;
  margin-top: 4rem;
  padding: 2rem 0;
  font-weight: bold;

  img {
    width: 220px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

/* Menú de navegación */
nav {
  a {
    color: $col-gray;

    &:hover, &.menuActivo {
      color: $col-orange;
    }
  }

  ul {
    font-weight: 700;
  }
}

/* Contenido footer */
footer {
  .container {
    text-align: center;
  }

  p {
    font-size: 0.8rem;
  }
}

/* Estilos para centrar texto */
.textoCentrado {
  text-align: center;
}

/* Artículo */
article {
  p {
    line-height: 1.2rem;
  }
}

figure {
  margin-bottom: 2rem;
  text-align: center;

  img {
    max-width: 100%;
  }

  figcaption {
    font-size: 0.6rem;
  }
}

iframe {
  border: 0;
  width: 100%;
  height: 200px;
}

/* Gráfica de población */
#canvasPoblacion {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 75%;
}

/* Diseño para tablets */
@media (min-width: 480px) {
  /* Contenedor principal */
  .container, .containerEstrecho {
    max-width: 590px;
  }

  /* Elementos comunes */
  h1 {
    color: $col-gray;
    font-size: 1.3rem;

    &::before {
      background-image: url(../images/blason-colmar.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: bottom;
      display: inline-block;
      width: 4rem; 
      height: 4rem;
      margin-right: 15px;
      content: "";
    }

    span {
      color: $col-orange;
      font-size: 3.5rem;
    }
  }

  h3 {
    font-size: 1.6rem;
    margin-top: 2rem;
  }

  figure {
    margin-bottom: 3rem;
  }

  iframe {
    height: 315px;
  }
}

/* Diseño para escritorio */
@media (min-width: 768px) {
  /* Contenedor principal */
  .container {
    max-width: 1140px;
  }

  /* Contenido header */
  header {
    .container {
      align-items: baseline;
      display: flex;
      justify-content: space-between;
    }
  }

  /* Menú de navegación */
  nav {
    ul {
      display: flex;

      li {
        margin-left: 1.5rem;
      }
    }
  }

  iframe {
    width: 70%;
  }
}