/* Diseño Mobile first */
/* Elementos comunes */
.html {
  box-sizing: border-box;
  height: 100%;
  font-family: $font-family-sans-serif;
  font-weight: 400;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

.html__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.banner {
  font-size: 0.8rem;
  color: $col-gray;

  &::before {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 15px;
    content: "";
    background-image: url(../images/blason-colmar.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
  }

  .banner__highlight {
    font-size: 2rem;
    color: $col-orange;
  }
}

.html__heading {
  font-weight: 800;
  line-height: 2rem;
  color: $col-black;
}

.html__link {
  color: $col-orange;
  text-decoration: none;

  &:hover {
    color: $col-gray;
  }
}

.html__list, .header__list {
  padding: 0;
  line-height: 1.5rem;
  list-style-type: none;
}

/* Contenedores */
.header {
  padding-bottom: 1rem;

  .header__container {
    text-align: center;
  }
}

/* Pie de página */
.footer {
  padding: 2rem 0;
  margin-top: 4rem;
  font-weight: bold;
  color: $col-black;
  text-align: center;
  background-color: $footer-bg;

  .footer__logo {
    width: 220px;
  }

  .footer__container {
    text-align: center;
  }

  .footer__text {
    font-size: 0.8rem;
  }
}

.html__container {
  width: 100%;
  max-width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Menú de navegación */
.header__link {
  color: $col-gray;
  text-decoration: none;

  &:hover, &.header__activo {
    color: $col-orange;
  }
}

.header__list {
  font-weight: 700;
}

.html__figure {
  margin-bottom: 2rem;
  text-align: center;

  .figure__img {
    max-width: 100%;
  }

  .figure__caption {
    font-size: 0.6rem;
  }
}

.html__iframe {
  width: 100%;
  height: 200px;
  border: 0;
}

/* Gráfica de población */
.html__canvas {
  position: relative;
  display: block;
  width: 75%;
  margin: 0 auto;
}

/* Diseño para tablets */
@media (min-width: 480px) {
  /* Contenedor principal */
  .html__container {
    max-width: 590px;
  }

  /* Elementos comunes */
  .banner {
    font-size: 1.3rem;
    color: $col-gray;

    &::before {
      display: inline-block;
      width: 4rem; 
      height: 4rem;
      margin-right: 15px;
      content: "";
      background-image: url(../images/blason-colmar.png);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100%;
    }

    .banner__highlight {
      font-size: 3.5rem;
      color: $col-orange;
    }
  }

  .html__heading {
    margin-top: 2rem;
    font-size: 1.6rem;
  }

  .html__figure {
    margin-bottom: 3rem;
  }

  .html__iframe {
    height: 315px;
  }
}

/* Diseño para escritorio */
@media (min-width: 768px) {
  /* Contenedor principal */
  .html__container {
    max-width: 1140px;
  }

  /* Contenido header */
  .header {
    .header__container {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  /* Menú de navegación */
  .header__list {
    display: flex;

    .header__item {
      margin-left: 1.5rem;
    }
  }
  
  .html__iframe {
    width: 70%;
  }
}