<!-- Cabecera -->
<header>
    <div class="container">
        <div>
        <a href="index.html">
            <h1 class="banner">
              <span>Colmar</span> The Petite Venise
            </h1>
        </a>
        </div>
        <!-- Menú -->
        <nav>
            <ul>
              <li><a class="menuActivo" href="">Inicio</a></li>
              <li><a href="">Lugares de interés</a></li>
              <li><a href="">Enlaces</a></li>
            </ul>
        </nav>
    </div>
</header>